.main {
    position: relative;
    min-height: 100vh;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -2;
    overflow: hidden;
    h1,p,a {
        color: $green;
        font-weight: bolder;
    }
    h1 {
        font-size: $big;
        word-spacing: -5px;
    }
    p {
        padding: 40px 0px 40px 0px;
    }
    .moveMain {
        transform: translateX(-120px);
    }

    a {
        background-color: $green;
        padding: 14px 32px;
        border-radius: 20px;
        color: $blue;
    }

    .kruh1,.kruh2,.kruh3 {
        position: absolute;
    }
    .kruh1 {
        z-index: -1;
        background-color: $green;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        top: 0;
        left: 90%;
    }
}

@media(max-width:1200px) {
    .main {
        h1 {
            font-size: $big2;
        }
        .moveMain {
            transform: translateX(0px);
        }
        p {
            width: 40ch;
            text-align: center;
        }
    }
}

@media(max-width:480px)
{
    .main {
        h1 {
            
            font-size: $big3;
        }
        p {
            width: 26ch;
            text-align: center;
        }
    }
}